<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="">YelpCamp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/campgrounds">All campgrounds</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/campgrounds/new">New campground</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="navbar-nav ms-auto collapse navbar-collapse" id="navbarText">
    <% if(!currentUser) {%>
      <a class="nav-link" href="/login">Login</a>
      <a class="nav-link" href="/register">Register</a>
    
      <% } else{ %>
        <a style="font-size: 20px; margin: 0 10px; padding: 5px;color: white; text-decoration: none;"
          class="nav-link active" href="/logout"
          onmouseover="this.style.color='#f00'; this.style.textDecoration='underline';"
          onmouseout="this.style.color='white'; this.style.textDecoration='none';">Logout</a>
        <% } %>
        </div>
</nav>